<div class="container">
    <table class="table table-dark table-striped">
        <thead>
            <tr>
              <th scope="col">Employee Name</th>
              <th scope="col">Designation</th>
              <th scope="col">Age</th>
            </tr>
        </thead>
        <tbody *ngIf="data">
            <tr *ngFor="let d of data">
              <td>{{d.employeeName}}</td>
              <td>{{d.designation}}</td>
              <td>{{d.age}}</td>
            </tr>
        </tbody>
        <p *ngIf="!data" class="text-center text-danger fs-4">Oppss... The Employee is not found</p>
    </table>
</div>
